<template>
  <div class="navbar">
    <nuxt-link
      to="/"
      class="nav-logo"
    >
      <div class="navbar-brand">
        <img
          src="@/assets/images/ccv-logo.1ea32618.png"
          alt="Cubic vision"
        >
        <span class="navbar-brand-name">Cubic vision</span>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {

}
</script>

<style lang='scss' scoped>
.navbar {
  padding: .5rem 0;
  background: transparent;
  .nav-logo .navbar-brand {
    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }

    .navbar-brand-name {
      font-weight: 700;
      letter-spacing: 1px;
      color: #fff;
      font-size: 20px;
    }
  }
}
</style>
