<template>
  <h1>Привет сабака</h1>
</template>

<script>
export default {
  asyncData (context) {
    return { name: 'World' }
  },
  mounted () {
    console.log(this.name)
  }
}
</script>

<style>

</style>
