<template>
  <div class="main">
    <Header />
    <nuxt />
    <Footer />
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data: () => ({
    f: 11
  })
}
</script>
<style lang='css'>
.main {
  margin: 0 32px;
  border:1px solid red
}
</style>
