<template>
  <div>
    <span>Необходима авторизация</span>
    <span @click="go">
      Зайти без авторизации
    </span>
  </div>
</template>

<script>
export default {
  layout: 'login',
  methods: {
    go () {
      this.$store.commit('auth/setUser', { name: 'guest' })
      this.$router.push('/')
    }
  }
}
</script>

<style>

</style>
